<h1>Tarefas</h1>
<p>Aplicação para gestão de tarefas pessoais</p>
<div class="mb-3">
    <a class="btn btn-primary mb-3" href="/tarefas" role="button">Lista de Tarefas</a>
</div>
<div class="mb-3">
    <a class="btn btn-primary mb-3" href="/usuario/perfil/<%- locals.layoutVariables.user.id_usuario %>" role="button">Perfil do Usuário</a>
</div>